@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5d6778;
    padding-top: 69px;
    
}

#content{
    line-height: 1.7;
}

html, body {
    margin: 0;
    height: 100%;
}

a{
    text-decoration: none !important;
}

.header {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    background: #fff;
}

.navbar {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.brand-color{
    color: #1f3a93 !important;
}

.btn-light {
    background: #f5f6fe;
    color: #4550E6;
}

.integrations .integrations-item img {
    width: 200px;
    height: auto;
    background: white;
}

@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar .nav-link {
    color: #5d6778;
    font-weight: 500;
}

.site-logo .navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0;
}

.site-logo .logo-text {
    color: #252930;
    font-size: 1.5rem;
    font-weight: bold;
}

.theme-bg-light {
    background: #f5f6fe;
}

.site-headline {
    font-size: 3rem;
}

.site-tagline {
    font-size: 1.125rem;
}

.get-started, .feature-banner {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(21,108,182,1) 14%, rgba(31,58,147,1) 34%);
    color: #fff !important;
}

.get-started h3, .get-started .section-intro{
    color: #fff !important;
}

.form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    height: 2.75rem;
}

@media (min-width: 992px)
.col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.features-icon{
    text-align: left;
}

.features-card{
   /* min-height: 322px;*/
}
/*Utilities*/
.font-weight-bold {
    font-weight: 700 !important;
}

.feature-img{
    width: 188px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #252930;
    font-weight: 600;
}

.btn {
    font-weight: 600;
    padding: 0.6rem 1.25rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: none;
}

.btn-brand, .btn-brand:hover{
    color: #fff;
    background-color: #121E8C;
    border-color: #121E8C;
}

.section-title {
    font-size: 2rem;
}

.section-intro {
    font-size: 1.125rem;
    color: #828d9f;
}

.border-shadow{
    border: 1px solid #f5f6fe;
}

.home-header{
    background: url('/images/dr.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}



.post-title, .post-title:hover{
    text-decoration: none !important;
    color: #252930;
}

.date{
    font-weight: 600;
}

#viewAllPosts a, #viewAllPosts a:hover{
    text-decoration: none !important;
}

.intro-text{
    padding: 100px 0;
}

@media (max-width: 992px){
    .intro-text{
        padding-top: 60px;
    }
}


#footer{
    background-image: linear-gradient(to bottom, white, white 50%, #121E8C 50%, #121E8C);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
}

.article h1, .article h2, .article h3, .article h4, .article h5{
    margin: 1.5rem 0;
}

pre{
    margin: 1.5rem 0;
}