<head>
	<title> 
		{{ if (isset .Params "title") }}  
			{{ .Title }} |
		{{ end }}
		{{ .Site.Title }}

	</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{ with .Keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">{{ end }}
	<meta name="description" content="{{ htmlUnescape .Params.description | safeHTML  }}" />
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@danrovito">
	<meta name="twitter:creator" content="@DanRovito">
	<meta name="twitter:title" content="Dan Rovito">
	<meta name="twitter:description" content="Developer and Entrepreneur of the web.">
	<meta name="twitter:image" content="{{.Site.BaseURL}}{{ htmlUnescape .Params.timage | safeHTML  }}">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai.min.css">
	<link rel="stylesheet" href="{{.Site.BaseURL}}/css/styles.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-53476011-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-53476011-1');
	</script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
