{{ define "main" }}
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h2>{{ .Title }}</h2>
			<div class="date">
				<span>Posted On</span>
				<span class="rest">
					{{ if $.Site.Data.month }}
						{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}
					{{ else }}
						{{ dateFormat "January 1, 2006" .Date }}
					{{ end }}
				</span>
			</div>
			<div class="mt-4 article">
				{{ .Content }}
			</div>
			<div class="my-5">
				{{- partial "related.html" . -}}
			</div>  
			<div class="author my-5">
				<div class="card border-right-0 border-left-0">
					<div class="card-body">
						<div class="row">
							<div class="col-md-2 col-sm-12">
								<img src="https://avatars.io/twitter/danrovito" class="mt-2 rounded-circle" width="90">
							</div>
							<div class="col-md-10 col-sm-12">
								<h4 class="pt-1 mb-0">Dan Rovito</h4>
								<small class="text-muted">Software Developer</small>
								<p>Hello there! I am a software developer based in Cincinnati, OH. I'm currently learning Flutter. I'd love to connect with you. Reach out on <a href="https://twitter.com/danrovito">Twitter</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<div class="my-5">	
				{{ if eq .Params.comments "open" }}			
				<div id="disqus_thread"></div>
				<script>

				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				
				var disqus_config = function () {
				this.page.url = {{ .Permalink }};  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = {{ .Params.identifier }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://danrovito.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				{{ else }}
				<div>Comments are closed.</div>
				{{ end }}                          
			</div>	
				
		</div>
	</div>
</div>
{{ end }}